body{
    background-color:black;
}

img{
    margin-top: 3%;
}

button{
    margin-bottom: 3%;
}
#formulario{
    border:solid;
    border-color: white;
    border-width: 8px 8px;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    color: lightgreen;
    background-color: rebeccapurple;
}

h3{
    text-align: center;
    margin-bottom: 8%;
    margin-top: 7%;
}
.inputs{
    margin-left:20%;
    margin-right:20%;

}